<template>
    <div class="card bg-light p-4">
        <div class="card-body">
            <div class="form-check form-switch">
                <input class="form-check-input" v-model="checkBox" type="checkbox" role="switch"
                       id="flexSwitchCheckDefault"/>
                <label class="form-check-label" for="flexSwitchCheckDefault">This option is responsible for sending the
                    latest weather news</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" v-model="checkBoxLastWeather" type="checkbox" role="switch"
                       id="flexSwitchCheckDefault"/>
                <label class="form-check-label" for="flexSwitchCheckDefault">Show last weather sent email</label>
            </div>
        </div>
        <div class="card" v-if="checkBoxLastWeather">
            <div class="card-body">
                <div class="weather-information">
                    <div class="weather-location">
                        <h2>Location:</h2>
                        {{ weatherData.name }} , {{ weatherData.sys.country }}
                    </div>
                    <div class="weather-temperature">
                        <h2>Temperature:</h2>
                        <div class="temp">{{ Math.round(weatherData.main.temp) }}°C</div>
                        <div class="humidity"><b>Humidity</b>: {{ Math.round(weatherData.main.humidity) }}%</div>
                        <div class="weather"><i class="fa fa-cloud"></i> {{ weatherData.weather[0].main }}</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "SettingsProfileComponent",
    data: () => ({
        checkBox: false,
        weatherData:{},
        weatherApi:'https://api.openweathermap.org/data/2.5/weather?q=Balti&units=metric&appid=482d893affad30c8a9e162ba58ef489e',
        checkBoxLastWeather: true,
    }),
    created() {
        this.getApiWeather();
        console.log(this.weatherData);
    },
    methods: {
        getApiWeather(){
            fetch(this.weatherApi)
                .then((response) => {
                    return response.json()
                })
                .then(this.setResultApi);
        },
        setResultApi(results){
            this.weatherData = results;
        }
    }
}
</script>

<style scoped>

</style>
