<template>
    <div class="card p-2 bg-light">
        <div class="card-body">
            <p>name: <b>{{ user.name }}</b></p>
            <p>email: <b>{{ user.email }}</b></p>
            <p v-for="roleItem in role">role: <b>{{ roleItem }}</b></p>
        </div>
    </div>
</template>

<script>
export default {
    name: "UserProfileComponent",
    props: [
        'user',
        'role'
    ]
}
</script>

<style scoped>

</style>
